
[loggers]
keys=root, file_logger

[handlers]
keys=file_handler, stream_handler

[formatters]
keys=file_formatter, stream_formatter

[logger_root]
level=DEBUG
handlers=stream_handler

[logger_file_logger]
level=DEBUG
handlers=file_handler
qualname=file_logger
propagate=0

[logger_stream_handler]
level=DEBUG
handlers=stream_handler
qualname=compiler.parser
propagate=1

[handler_stream_handler]
class=StreamHandler
level=DEBUG
formatter=stream_formatter
args=(sys.stdout,)

[handler_file_handler]
class=FileHandler
level=DEBUG
formatter=file_formatter
args = (r'%(logfilename)s','a',)

[formatter_stream_formatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
class=logging.Formatter
datefmt='%Y-%m-%d %H:%M:%S'

[formatter_file_formatter]
format=%(asctime)s - %(name)s - %(levelname)s - %(message)s
class=logging.Formatter
datefmt='%Y-%m-%d %H:%M:%S'
